 <link rel="stylesheet" href="/css/styles.css">


<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <p>
            {{#if globalError}}       
                 <h3>{{globalError}}</h3>     
             {{/if}}
        </p>

        <p>
            {{#if expenseExists}}
                <h3>{{errorDescription}}</h3>
            {{/if}}
        </p>

        <form method="POST" action="/createExpense">
             
             <div class="form-group">
                  <label for="date">Choose date for expense:</label>
                <div class='input-group date'>
                    <input class="form-control" name="date" value={{todayDate}} /><br />
                 
                </div>
            </div>

          {{!-- availableProducts: products.length > 0 --}}
            {{#if availableProducts }}

             <div class="form-group">
                <label for="product">Select product which you buy:</label>
                <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                   {{#each products}}
                        <option value={{this._id}}>{{this.name}}</option>
                   {{/each}}
                </select>
                <small id="productProductHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
             </div>

             {{else}}
                <div class="form-group">
                <label for="product">Select product which you buy:</label>
                <select  class="form-control"  name="needed" aria-describedby="productNeededHelp" placeholder="product which you buy">
                   <option value="noavailable">You must create a product from a link below</option>
                </select>
                <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
             </div>


             {{/if}}

             <h3>{{errorDescription}}</h3>
             {{#if availableCategories}}
                   <div class="form-group">
                <label for="category">Select category of expense:</label>
                <select  class="form-control"  name="category" aria-describedby="category" placeholder="type of expense">
                   {{#each categories}}
                        <option value={{this._id}}>{{this.name}}</option>
                   {{/each}}
                </select>
                <small id="category" class="form-text text-muted">Choose type of expense <a href="/createCategory">create a category</a></small>
             </div>

             {{else}}
                <div class="form-group">
                <label for="product">Select category of expense</label>
                <select  class="form-control"  name="category" aria-describedby="category" placeholder="type of expense">
                   <option value="noavailable">You must create a category  from a link below</option>
                </select>
                <small id="category" class="form-text text-muted">Choose type of expense <a href="/createCategory">create a category</a></small>
             </div>

             {{/if}}
            

               {{!-- <div class="form-group">
                <label for="needed">Do you really need for this expense?:</label>
                <select  class="form-control"  name="needed" aria-describedby="producNeededHelp" placeholder="Is it really needed this?">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <small id="productNeededHelp" class="form-text text-muted">Is it really need this expense ?</small>
             </div> --}}

               <div class="form-group">
                <label for="description">Note about this expense:</label>
                <textarea  rows="5" cols="15" class="form-control"  name="description" aria-describedby="producDescriptionHelp" placeholder="Enter product's name"></textarea>
                <small id="productDescriptionHelp" class="form-text text-muted">Add some short description about this expense</small>
             </div>

            {{#if noAvailable}}
             <button type="submit" class="btn btn-primary" disabled>Make Expense</button>
             {{else}}
                 <button type="submit" class="btn btn-primary">Make Expense</button>
             {{/if}}
             <button type="reset" class="btn btn-warning">Clear</button>

        </form>
    </div>
    <div class="col-lg-4"></div>

<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

  <script src="/js/datepicker.js"></script>
    <script>
        var input = document.querySelector('input[name="date"]');
        var picker = datepicker(input);

    </script>

</div>