 <link rel="stylesheet" href="/css/styles.css">


<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <p>
            {{#if globalError}}       
                 <h3>{{globalError}}</h3>     
             {{/if}}
        </p>

        <form method="POST" action="/editExpense?id={{expense._id}}">
             
             <div class="form-group">
                  <label for="date">Edit date for expense:</label>
                <div class='input-group date'>
                    <input class="form-control" name="date" value="{{dateFormatted}}" /><br />
                 
                </div>
            </div>


            

        


<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <div class="form-group">
                <label for="category">You can change categories for this expense from:</label>
                <p>You can edit products for this expense from <a class="btn btn-primary" href="/editCategoryForExpense?id={{expense._id}}">here</a></p>
             </div>

          
            

               <div class="form-group">
                <label for="needed">Do you really need for this expense?:</label>
                <select  class="form-control"  name="needed" aria-describedby="producNeededHelp" placeholder="Is it really needed this?">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <small id="productNeededHelp" class="form-text text-muted">Is it really need this expense ?</small>
             </div>

               <div class="form-group">
                <label for="description">Product Description:</label>
                <textarea  rows="5" cols="15" class="form-control"  name="description" aria-describedby="producDescriptionHelp" placeholder="Enter product's name">{{expense.description}}</textarea>
                <small id="productDescriptionHelp" class="form-text text-muted">Add some short description about this expense</small>
             </div>

        
                 <button type="submit" class="btn btn-primary">Edit Expense</button>
                 <button type="reset" class="btn btn-warning">Clear</button>

        </form>


                 
            
                <p>You can change products for this expense from <a class="btn btn-primary"  name="editProducts">here</a></p>
               


    <p>
                <a class="btn btn-primary" name="addProduct">Add Another Product</a>
                 <a class="btn btn-danger" name="removeProduct">Remove Product</a>
            </p>


            <div class="addProductContainer">


                <form method="POST" action="/addProductToExpense?id={{expense._id}}">
                    {{#if availableProducts}}
                     <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                {{#each products}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                        <button class="btn btn-success" type="submit">Add</button>

                    {{else}}

                             <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                
                            <option value="noavailable">You must create a product from a link below</option>
                            
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                    {{/if}}

                </form>
            </div>





        


            <div class="removeProductContainer">
                <form method="POST" action="/removeProductForExpense?id={{expense._id}}">
                    {{#if availableProducts}}
                     <div class="form-group">
                        <label for="product">Select product for remove from this expense:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                {{#each expense.products}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                        <button class="btn btn-danger" type="submit">Remove</button>

                    {{else}}

                             <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                
                            <option value="noavailable">You must create a product from a link below</option>
                            
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                    {{/if}}

                </form>

             </div>
















    </div>
    <div class="col-lg-4"></div>


</div>


<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

  <script src="/js/datepicker.js"></script>
    <script>
        var input = document.querySelector('input[name="date"]');
        var picker = datepicker(input);

    </script>

<script src="./js/addRemoveElements.js"></script>
<script src="./js/showHideAddRemoveElButtons.js"></script>