

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{error}}



            {{#if expense}}
            <h4>Products bought on this date {{expense.formattedDate}}</h4>
           
            <hr />

            <div id="donutchart" style="width: 900px; height: 500px;"></div>
            <hr />
            
            {{#each expense.products}}
                <p>Product name: {{this.name}}</p>
                <p><img src={{this.photo}} alt={{this.name}} /></p>
                <p>Product price: {{this.price}}</p>
                <hr /><br />
            {{/each}}

            <input id="expenseId" type="hidden" value={{expense._id}} />

            <hr />

            <h4>Expense Categories:</h4>
            <p>
            {{#each expense.categories}}
                <a class="btn btn-success" href="/showExpensesWithCategory?name={{this.name}}">{{this.name}}</a>
                {{!-- <p><img src={{this.picture}} alt='image of category {{this.name}} '/></p> --}}
            {{/each}}
            </p>

             {{#each expense.categories}}
                <p><a class="btn btn-success" href="/showExpensesWithCategory?name={{this.name}}"><img src={{this.picture}} alt='image of category {{this.name}} '/></a></p>
                {{!-- <p><img src={{this.picture}} alt='image of category {{this.name}} '/></p> --}}
            {{/each}}

            <p>Reason for buying this: {{expense.description}}</p>
            <p>Do you really need these products? {{expense.isItAbsolutelyNeeded}}</p>

            <hr />
            {{!-- <p><strong>Total Money Spent For Products Today: {{expense.totalDayExpense}} lv</strong></p> --}}
            <p><strong>Total Money Spent For Products Today: {{totalExpense}} lv</strong></p>
            <p>
                <a class="btn btn-primary" name="addProduct">Add Another Product</a>
                 <a class="btn btn-danger" name="removeProduct">Remove Product</a>
            </p>

    
            <div class="addProductContainer">
                <form method="POST" action="/addProductToExpense?id={{expense._id}}">
                    {{#if availableProducts}}
                     <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                {{#each products}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select><br />
                            <input class="form-control" type="number" name="count" value="1" />
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                        <button class="btn btn-success" type="submit">Add</button>

                    {{else}}

                             <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                
                            <option value="noavailable">You must create a product from a link below</option>
                            
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                    {{/if}}

                </form>
            </div>
         


            <div class="removeProductContainer">
                <form method="POST" action="/removeProductForExpense?id={{expense._id}}">
                    {{#if availableProducts}}
                     <div class="form-group">
                        <label for="product">Select product for remove from this expense:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                {{#each expense.products}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                        {{!-- <button class="btn btn-danger" type="submit">Remove</button> --}}

                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteProductModal">Remove Product</button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProductModalLabel">Confirm Delete Product?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to remove this product ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-danger" type="submit">Go DELETE</button>
                                
                            </div>
                            </div>
                        </div>
                        </div>






                    {{else}}

                             <div class="form-group">
                        <label for="product">Select product which you buy:</label>
                            <select  class="form-control"  name="product" aria-describedby="productNeededHelp" placeholder="product which you buy">
                                
                            <option value="noavailable">You must create a product from a link below</option>
                            
                            </select>
                            <small id="productNeededHelp" class="form-text text-muted">Choose product which you buy. If is it empty just <a href="/createProduct">create a product</a></small>
                        </div>

                    {{/if}}

                </form>
            </div>


             <p><strong>Add/Remove Category</strong></p>
            <p>
                <a class="btn btn-primary" name="addCategory">Add Another Category</a>
                 <a class="btn btn-danger" name="removeCategory">Remove Another Category</a>
            </p>


                <div class="addCategoryContainer">
                <form method="POST" action="/addCategoryToExpense?id={{expense._id}}">
                    {{#if availableCategories}}
                     <div class="form-group">
                        <label for="product">Select category:</label>
                            <select  class="form-control"  name="category" aria-describedby="categoryNeededHelp" placeholder="category">
                                {{#each categories}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <small id="categoryNeededHelp" class="form-text text-muted">Choose category  from the list. If is it empty just <a href="/createCategory">create a category</a></small>
                        </div>

                        <button class="btn btn-success" type="submit">Add Category</button>

                    {{else}}

                             <div class="form-group">
                        <label for="category">Select product:</label>
                            <select  class="form-control"  name="category" aria-describedby="categoryNeededHelp" placeholder="category">
                                
                            <option value="noavailable">You must create a product from a link below</option>
                            
                            </select>
                            <small id="categoryNeededHelp" class="form-text text-muted">Choose category  from the list. If is it empty just <a href="/createCategory">create a category</a></small>
                        </div>

                    {{/if}}

                </form>
            </div>
         


            <div class="removeCategoryContainer">
                <form method="POST" action="/removeCategoryForExpense?id={{expense._id}}">
                    {{#if availableCategories}}
                     <div class="form-group">
                        <label for="category">Select category for remove from this expense:</label>
                            <select  class="form-control"  name="category" aria-describedby="categoryNeededHelp" placeholder="choose category for removing">
                                {{#each categories}}
                                         <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <small id="categoryNeededHelp" class="form-text text-muted">Choose category which you will remove from this expense. If is it empty just <a href="/createCategory">create a category</a></small>
                        </div>

                        {{!-- <button class="btn btn-danger" type="submit">Remove Category</button> --}}
                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteCategoryModal">Remove Category</button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCaategoryModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteCaategoryModalLabel">Confirm Delete Category?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to remove this category ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-danger" type="submit">Go DELETE</button>
                                </div>
                                </div>
                            </div>
                            </div>




                    {{else}}

                             <div class="form-group">
                                     <label for="category">Select category for remove from this expense:</label>
                                <select  class="form-control"  name="category" aria-describedby="categoryNeededHelp" placeholder="choose category for removing">
                                    
                                <option value="noavailable">You must create a category from a link below</option>
                                
                                </select>
                                <small id="categoryNeededHelp" class="form-text text-muted">which you will remove from this expense.. If is it empty just <a href="/createCategory">create a category</a></small>
                        </div>

                    {{/if}}

                </form>
            </div>





        </div>

        {{else}}
            You have no expenses on this date.
        {{/if}}
    </div>
</div>


<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
		

<script src="./js/addRemoveElements.js"></script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        let expenseId = $('#expenseId').val()
        
        $.ajax(`http://localhost:1337/expenseDetailsByIdAjax?id=${expenseId}`, {
            method: 'GET',
            success: function (data) {
                //console.log(data)


                google.charts.load("current", {packages:["corechart"]});
                google.charts.setOnLoadCallback(drawChart);

                let productsArray = []
                let row
                productsArray.push(['Task', 'Hours per Day'])

                data.products.forEach(product => {
                    row  = [product.name, Number(product.price)]
                    productsArray.push(row)
                   
                })

            

                function drawChart() {
                    var data = google.visualization.arrayToDataTable(productsArray);

                    var options = {
                    title: 'My Expenses For Products For The Day',
                    pieHole: 0.4,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                    chart.draw(data, options);
                }


            }
        })


    })


    </script>
