 <link rel="stylesheet" href="/css/styles.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{globalError}}

            {{#if expenses}}

                <h3>Expenses for </h3>
                <hr />
                {{#each expenses}}
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Expense for <a class="btn btn-primary" href="/expenseDetails?id={{this._id}}">{{formattedDate}}</a>
                            <a class="btn btn-success" href="/editExpense?id={{this._id}}">Edit</a>
                            {{!-- <a class="btn btn-danger" href="/deleteExpense?id={{this._id}}">Delete</a> --}}


                           <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteExpenseModal{{this._id}}"> Delete</button>


                          <!-- Modal -->
                        <div class="modal fade" id="deleteExpenseModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="deleteExpenseModalLabel{{this._id}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteExpenseModalLabel{{this._id}}">Confirm Delete Expense From {{this.formattedDate}}?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to remove expense for {{this.formattedDate}} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="/deleteExpense?id={{this._id}}">Delete</a>
                            </div>
                            </div>
                        </div>
                        </div>




                        </p>


                        
                    </div>
                </div>
                {{/each}}

                {{#if hasPrevPage}}
                    <a href="/seeAllExpenses?page={{prevPage}}">Prev</a> |
                {{/if}}    

                {{#if hasNextPage}}
                    <a href="/seeAllExpenses?page={{nextPage}}">Next</a> |
                {{/if}}

                <a href="/seeAllExpenses?sortAsc=true">Sort Ascending</a>   

            {{else}}

                <h3>Sorry, no results found</h3>

            {{/if}}



        </div>
    </div>
        <hr />

    <div class="row">
        <div class="col-lg-12">
            <h3>Delete expenses by period:</h3><br />
            <form method="GET" action="/deleteExpensesByPeriod">
                 <div class="form-group">
                    <label for="dateFrom">from:</label>
                     <div class='input-group dateFrom'>
                    <input class="form-control" name="dateFrom" value={{endMonth}}  /><br />
                </div>
            </div>

             <div class="form-group">
                    <label for="dateTo">To:</label>
                     <div class='input-group dateTo'>
                    <input class="form-control" name="dateTo"  value={{endMonth}} /><br />
                </div><br />

                <input type="submit" class="btn btn-danger" value="Delete Them" /><br />
                <small>The results will not be deleted immediately. Firstly will result shown and then you will have to decide if you want to delete them.</small>
            </div>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-12">
            <h3>Delete all expenses from date to now:</h3><br />
            <form method="GET" action="/deleteExpensesFrom">
                 <div class="form-group">
                    <label for="dateFrom">from:</label>
                     <div class='input-group deleteExpensesdateFrom'>
                    <input class="form-control" name="deleteExpensesdateFrom" value={{endMonth}}  /><br />
                </div>
            </div>


                <input type="submit" class="btn btn-danger" value="Delete Them" /><br />
                <small>The results will not be deleted immediately. Firstly will result shown and then you will have to decide if you want to delete them.</small>
            </div>
            </form>
        </div>


    <hr />

     <div class="row">
        <div class="col-lg-12">
            <h3>Delete all expenses from current date to all past days :</h3><br />
            <form method="GET" action="/deleteExpensesCurrentDateToPast">
                 <div class="form-group">
                    <label for="dateTo">from:</label>
                     <div class='input-group deleteExpensesCurrentDateToAllPast'>
                    <input class="form-control" name="deleteExpensesCurrentDateToAllPast" value={{endMonth}}  /><br />
                </div>
            </div>


                <input type="submit" class="btn btn-danger" value="Delete Them" /><br />
                <small>The results will not be deleted immediately. Firstly will result shown and then you will have to decide if you want to delete them.</small>
            </div>
            </form>
        </div>


    </div>


<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

  <script src="/js/datepicker.js"></script>
    <script>
        let inputDateFrom = document.querySelector('input[name="dateFrom"]')
        let inputDateTo = document.querySelector('input[name="dateTo"]')
        let inputDeleteExpensesdateFrom = document.querySelector('input[name="deleteExpensesdateFrom"]')
        let inputDeleteExpensesCurrentDateToAllPast = document.querySelector('input[name="deleteExpensesCurrentDateToAllPast"]')
        let pickerOne = datepicker(inputDateFrom)
        let pickerTwo = datepicker(inputDateTo)
        let pickerThree = datepicker(inputDeleteExpensesdateFrom)
        let pickerFour = datepicker(inputDeleteExpensesCurrentDateToAllPast)

    </script>


</div>