

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>Information about user -> {{user.username}}</h3>
            <input type="hidden" id="userId" value={{user._id}} />
            <hr />
        </div>

      <div class="row">
          <div class="col-lg-12">
              <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
          </div>
      </div>  
          <hr />

      <div class="row">
          <div class="col-lg-12">
              <h4>Registered On {{user.regFormattedDate}}</h4>
              <h4>Total Count Of Expenses: {{user.expenses.length}}</h4>
              <h4>Total Count Of Products: {{user.products.length}}</h4>
              <h4>Total Count Of Categories: {{user.categories.length}}</h4>
          </div>
      </div>

    </div>
</div>

<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        let userId = $('#userId').val()
        
        $.ajax(`http://localhost:1337/adminGetUserDetailsAJAX?userId=${userId}`, {
            method: 'GET',
            success: function(user) {

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);

            let chartContainer = new Array()
            chartContainer.push(['Year', 'Products', 'Expenses', 'Categories'])
            let row = new Array()
            let formattedDate = user.registeredOn.split('T')[0]
            row.push(formattedDate.split('-')[0], user.products.length, user.expenses.length, user.categories.length)

            chartContainer.push(row)


           


            function drawChart() {
                var data = google.visualization.arrayToDataTable(chartContainer); 

                var options = {
                chart: {
                    title: `Information about Products, Expenses and Category created by ${user.username} from date of register ${formattedDate} `,
                    subtitle: `Products, Expenses, and Category: ${formattedDate}`,
                }
                };

                var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }




            }
        })



    })


    </script>
