<div class="container">
    {{#if categories}}
        
        {{#each categories}}
            <div class="row">
                <div class="col-lg-12">
                    <h4>All expenses with category {{this.name}}</h4>
                    <hr />
                    <p><img class="imgSize600x400px"  src={{this.picture}} alt={{this.name}} /></p>
                    <hr />

                         {{!-- <h3>For date {{this.date}}</h3>
                         <p><h4>Total expenses sum for the day</h4>{{this.totalDayExpense}} lv</p> --}}
                       


                        {{#each this.expenses}}
                          <h3>For date {{this.formattedDate}}</h3>
                          {{!-- <p><h3>Description of expense:</h3>{{this.description}}</p> --}}
                          <hr />

                          <p>
                              <ul>
                                 {{#each this.buyedProducts}}
                                    <li>{{this.name}} - {{this.price}} lv</li>
                                 {{/each}}
                              </ul>

                          </p>  

                          <p><h4>Total expenses sum for the day</h4>{{this.totalDayExpense}} lv</p>
                          {{!-- <p><h4>Total expenses sum for the day</h4>{{../this.totalDayExpense}} lv</p> --}}
                          {{!-- <p><h4>Total expenses sum for the day</h4>{{../../totalDayExpense}} lv</p> --}}
                          <p><a class="btn btn-default" href="/expenseDetails?id={{this._id}}">More Details..</a></p>
                        {{/each}}
                    

                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>Sorry.. no expenses with that category.</h3>
    {{/if}}
</div>