<div class="container">

 {{#if todayExpense}}   
    <h3>You have expense for <a href="/expenseDetails?id={{todayExpense._id}}">today.</a></h3>
    <hr />
 {{/if}}

    <h3>Yours last 5 days expenses</h3>

 {{#if noAvailableExpenses}}
    <p>Sorry.. no available expenses at the moment. You can create one from <a href="/createExpense">here</a></p>
 {{/if}}    
{{#each expenses}}
<div class="row">
    <div class="col-lg-6">
        <p>
            <a class="btn btn-primary" href="/expenseDetails?id={{this._id}}">{{this.formattedDate}}</a>
            <a class="btn btn-success" href="/editExpense?id={{this._id}}">Edit</a>
            {{!-- <a class="btn btn-danger" href="/deleteExpense?id={{this._id}}">Delete</a> --}}
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteExpenseModal{{this._id}}">
                Delete
            </button>

            <!-- Modal -->
<div class="modal fade" id="deleteExpenseModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="deleteExpenseModalLabel{{this._id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteExpenseModalLabel{{this._id}}">Confirm Delete Expense From {{this.formattedDate}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to remove expense for {{this.formattedDate}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <a class="btn btn-danger" href="/deleteExpense?id={{this._id}}">Delete</a>
      </div>
    </div>
  </div>
</div>



        </p>
    </div>
</div>
{{/each}}

{{#if hasPrevPage}}
    <a href="/searchExpenses?dateFrom={{dateFrom}}&dateTo={{dateTo}}&page={{prevPage}}">Prev</a>
{{/if}}    

{{#if hasNextPage}}
       <a href="/searchExpenses?dateFrom={{dateFrom}}&dateTo={{dateTo}}&page={{nextPage}}">Next</a>
{{/if}}

<hr />

<h3>Profile Settings</h3>
<hr />
<a class="btn btn-default" href="/settings">Settings</a>

</div>