<div class="container">

 {{#if todayExpense}}   
    <h3>You have expense for <a href="/expenseDetails?id={{todayExpense._id}}">today.</a></h3>
    <hr />
 {{/if}}

    <h3>Yours last 5 days expenses</h3>

 {{#if noAvailableExpenses}}
    <p>Sorry.. no available expenses at the moment. You can create one from <a href="/createExpense">here</a></p>
 {{/if}}    
{{#each expenses}}
<div class="row">
    <div class="col-lg-6">
        <p>
            Expense for <a class="btn btn-primary" href="/expenseDetails?id={{this._id}}">{{this.formattedDate}}</a>
            <a class="btn btn-success" href="/editExpense?id={{this._id}}">Edit</a>
            <a class="btn btn-danger" href="/deleteExpense?id={{this._id}}">Delete</a>
        </p>
    </div>
</div>
{{/each}}

{{#if hasPrevPage}}
    <a href="/searchExpenses?dateFrom={{dateFrom}}&dateTo={{dateTo}}&page={{prevPage}}">Prev</a>
{{/if}}    

{{#if hasNextPage}}
       <a href="/searchExpenses?dateFrom={{dateFrom}}&dateTo={{dateTo}}&page={{nextPage}}">Next</a>
{{/if}}

<hr />

<h3>Profile Settings</h3>
<hr />
<a class="btn btn-default" href="/settings">Settings</a>

</div>